[Unit]
Description=Hasenpfeffr Control Panel API
After=network.target

[Service]
ExecStart=/var/www/hasenpfeffr/api.js
Restart=always
User=ubuntu
Group=ubuntu
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/hasenpfeffr

[Install]
WantedBy=multi-user.target
