[Unit]
Description=Hasenpfeffr Control Panel
After=network.target

[Service]
ExecStart=/usr/local/bin/hasenpfeffr-control-panel
Restart=always
User=ubuntu
Group=ubuntu
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/hasenpfeffr

[Install]
WantedBy=multi-user.target
