[Unit]
Description=Process pubkeys from queue by updating edges in Neo4j
After=network.target neo4j.service

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/hasenpfeffr/pipeline/stream/optimized_processQueue.sh
Restart=on-failure
RestartSec=10
# Set resource limits to prevent excessive resource usage
CPUQuota=50%
MemoryLimit=512M
# Add additional security measures
ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=multi-user.target
