[Unit]
Description=Process Nostr Reconciliation Queue
After=network.target neo4j.service

[Service]
Type=simple
User=ubuntu
EnvironmentFile=/etc/hasenpfeffr.conf
ExecStart=/usr/bin/node /home/ubuntu/hasenpfeffr/pipeline/reconcile/processReconcileQueue.js
Restart=on-failure
RestartSec=30
# Set resource limits to prevent excessive resource usage
CPUQuota=70%
MemoryLimit=1G
# Add additional security measures
ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=multi-user.target
