[Unit]
Description=Run Nostr Event Reconciliation periodically
After=network.target neo4j.service

[Timer]
# Run every 6 hours
OnBootSec=15min
OnUnitActiveSec=6h
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
