[Unit]
Description=Nostr Event Reconciliation Service
After=network.target neo4j.service

[Service]
Type=oneshot
User=ubuntu
EnvironmentFile=/etc/hasenpfeffr.conf
ExecStart=/home/ubuntu/hasenpfeffr/pipeline/reconcile/runReconciliation.sh
# Set resource limits to prevent excessive resource usage
CPUQuota=70%
MemoryLimit=1G
# Add additional security measures
ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=multi-user.target
