[Unit]
Description=adds pubkeys to queue when strfry adds kind 3 event

[Service]
ExecStart=sudo ~/hasenpfeffr/pipeline/stream/addToQueue.mjs

[Install]
WantedBy=multi-user.target
