[Unit]
Description=calculate personalizedPageRank and store scores in Neo4j

[Service]
ExecStart=sudo /home/ubuntu/hasenpfeffr/algos/personalizedPageRank.sh

[Install]
WantedBy=multi-user.target
