[Unit]
Description=processes pubkeys from queue by updating edges from that pubkey in neo4j

[Service]
ExecStart=flock -n /var/lock/processQueue /home/ubuntu/hasenpfeffr/pipeline/stream/processQueue.sh 

[Install]
WantedBy=multi-user.target
