connectionTimeout = 20

streams {
    ## Stream down events from our friend relays

    friends {
        dir = "down"

        # pluginDown = "~/strfry/plugins/hasenpfeffr.js"

        filter = { "kinds": [3, 1984, 10000], "limit": 5 }

        urls = [
            "wss://relay.primal.net",
            "wss://relay.damus.io",
            "wss://relay.nostr.band"
        ]
    }
}

